
:root {
    /* dark mode */
    --color-1: #f7f8f8;
    --color-2:#D0D6E0;
    --color-3:#8a8f98;
    --color-selected:#B1CBFF;
    --color-actived:#B1CBFF;
    --color-link: #222;
    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-primary-lighter: #e0ecfd;
    --color-primary-light: #73abf9;
    --color-primary-main: #0067f4;
    --color-purple:#6127ff;
    --color-blue: #00d0ff;
    --color-cyan:#00d0ff;
    --color-pink:#ff419c;
    --color-yellow: #f2c94c;
    --color-green: #1bc47d;
    --color-orange: #ff5a19;
    --color-errors: #ff2c60;
    --color-featured: #f8f0ee;
    --color-underlined: var(--color-primary-rgb);
    --color-divider:#272f3f;
    --border: rgb(49, 48, 53);
    --border-color:rgb(49,48,53);
    --card-color:rgba(40, 80, 120, 0.15);
    --card-color-selected:rgba(60, 90, 125, 0.3);

    /* dark bg color */
    --bg-1: rgb(6, 6, 6);
    --bg-1-rgb: 248, 248, 248;
    --bg-2: linear-gradient(rgb(19, 19, 21), rgb(6, 6, 6));
    --bg-3: #e9e9e9;
    --bg-4: #f3f3f3;
    --bg-white: white;

    /* //width: */
    --max-width: 1400px;
    --size-top: 64px;
    --size-bottom: 64px;

    /* sidebar */
    --sidebar-width: 280px;
    --gap: 16px;


    --header-height: 71px;
    --gutter: 20px;
    --pad-inner: 160px;
    --color-odd-rows: #f3f3f3;
    --avatar-bg: #F8F8F8;
    --box-bg:rgba(13,14,15,.7);

    /* radius */
    --radius-small: 8px;
    --radius-normal: 16px;
    --radius-large: 24px;


    /* //FONT FAMILY */
    --font-primary:"PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", "Hiragino Sans GB", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    --font-secondary: 'MiSans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';

    /* // Text size */
    --text-size-small: 12px;
    --text-size-normal: 14px;
    --text-size-primary: 16px;
    --text-size-medium: 18px;
    --text-size-large: 24px;

    /* //aspect-ratio: ; */
    --img-resizing-site: 12 / 9;
    --img-resizing-post: 10 / 6;
    --img-resizing-paronamic: 2 / 1;
    --img-resizing-desktop: 19 / 10;

    /*------------------------------------------------------------------
    #button style
    -------------------------------------------------------------------*/
    --button-rounded: 8px;
	--button-rounded-full: 72px;
	--button-height: 48px;
	--button-pad: 24px;
	--button-bg: var(--color-primary);
	--button-color: var(--color-white);
	--button-color-border: var(--bg-1);


    @media(max-width: 1440px) {
        --pad-inner: 108px;
    }
    @media(max-width: 1280px) {
        --pad-inner: 96px;
    }
    @media(max-width: 1023px) {
        --pad-inner: 48px;
    }
    @media(max-width: 811px) {
        --pad-inner: 24px;
    }
    @media(max-width: 576px) {
        --pad-inner: 16px;
    }

}

